node_modules
sfdc
json
vendor
gulpTasks
gulpfile.js
*.config*
npm-debug.log
Dockerfile*
node.dockerfile
docker-compose*
.dockerignore
.git
.gitignore
README.md
iisnode.yml
package-lock*
LICENSE
.vscode
*.tar