<!DOCTYPE html>
<html>

<head>
  <title>Pilot Search</title>
  <meta about="Search all content at once." />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, height=device-height">
  <script src="<%%=config.coveo.cdn%>/js/CoveoJsSearch.js"></script>
  <script src="<%%=config.coveo.cdn%>/js/templates/templatesNew.js"></script>

  <script src="js/Coveo.<%= capitalizeCustomerSafeName %>.js"></script>

  <link rel="stylesheet" href="<%%=config.coveo.cdn%>/css/CoveoFullSearchNewDesign.css" />
  <link rel="stylesheet" href="css/PilotSearch.<%= capitalizeCustomerSafeName %>.css" />

  <%% include ../partials/pilot-search/mock-context %>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Coveo.SearchEndpoint.configureCloudV2Endpoint('<%%- config.coveo.org_id %>', '<%%- config.coveo.superUser_api_key %>', '<%%- config.coveo.rest_uri -%>');
      Coveo.SearchEndpoint.endpoints['default'].options.queryStringArguments.viewAllContent = 'true';
      Coveo.init(document.getElementById('search'), {});
    })
  </script>
</head>

<body>
  <%% include ../partials/pilot-search/search-interface %>
</body>

</html>