<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta about="Login" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height" >
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <style>
        .main-section{
            bottom:0px;
            top:0px;
            margin: 0px;
            position:absolute;
            width: 100%;
            min-height: 600px;
            background-color: #f1f3f4;
        }
        .login-image-main{
            transform: translateY(25%);
            background-color:#fff;
            border:1px solid #DDDDDD;
            border-radius: 5px;
        }
        .login-user-image img{
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border:1px solid #DDDDDD;
        }
        .user-image-section,.user-content-part,.user-detail-part,.user-login-facebook{
            border-bottom:1px solid #DDDDDD;
        }
        .login-user-name,.login-user-name h1{
            padding:8px 0px 0px 0px;
            margin: 0px;
            font-size:28px;
        }
        .login-user-image{
            padding: 10px;
        }
        .login-user-name p{
            font-size:12px;
            color:#4C4C4C;
        }
        .user-detail-part {
            margin-top: 10px;
            font-size:14px;
            padding: 0px 60px 20px 60px;
        }
        .user-login-facebook,
        .user-login-sso{
            padding:20px;
            position: relative;
        }

        .user-login-google{
            padding:20px 20px 0;
            position: relative;
        }
        /* .btn {
            margin: auto auto 1em;
        } */
        .user-login-facebook a{
            background-color: #3B5998;
            border-color: #3B5998;
            width:65%;
        }
        .user-login-sso a{
            background-color: #343a40;
            border-color: #343a40;
            width:65%;
        }
        .user-login-google a{
            width:65%;
            background-color:rgb(220, 78, 65);
            border-color:rgb(220, 78, 65);
        }
        .user-login-facebook a:hover,
        .user-login-box a:hover,
        .user-login-facebook a,
        .user-login-box a,
        .user-login-google a:hover,
        .user-login-google a,
        .user-login-sso a,
        .user-login-sso a:hover{
            color:#fff;
        }
        .over{
            position: absolute;
            left:43%;
            bottom:-20px;
            background-color: #fff;
            padding:0px 15px 0px 15px;
        }
        .user-login-box,.last-part{
            padding:20px;
        }
        .user-login-box a{
            background-color: #57BF78;
            width: 65%;
        }
        .last-part{
            padding:5px 0px 20px 0px;
            text-align:center !important;
        }
        .last-part a{
            text-decoration: none;
        }

    </style>
  </head>
  <body>
    <div class="row main-section">
      <div class="col-md-4 col-sm-8 col-xs-10 col-md-offset-4 col-sm-offset-2 col-xs-offset-1 login-image-main text-center">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 user-detail-part">
            <h3>Access Your Demo app</h3>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 user-login-google">
            <a class="btn btn-google" href="/auth/google"><span class="fa fa-google"></span> Sign in with Google</a>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 user-login-facebook">
            <a class="btn btn-facebook disabled" href="/auth/facebook"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
            <p class="over">OR</p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 user-login-sso">
            <a class="btn btn-sso" href="/auth/okta"><span class="fa fa-key"></span> Using SSO Okta</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/261d9935e9.js"></script>
  </body>
  </html>

